/* definizioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans,sans-serif;
}

/* header */
.menu {
  width: 75%;
  margin: 0 auto;
}

.tworow {
  width: 90%;
  margin: 0 auto;
}

.textcol {
  padding-top: 40px;
  text-align: center;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
  height: 80px;
  background: white;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 20%;
  padding: 25px 0;
  float: left;
}

.navmenu {
  padding: 25px 0;
  float: left;
  width: 70%;
  padding-left: 20%;
  text-align: right;
}

nav .menu .navmenu li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
}

nav .menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8pt;
  color: #000000;
  font-weight: 600;
  font-size: 10pt;
}

nav .menu a:hover {
  text-decoration: underline;
}

nav .menu .language {
  padding: 25px 0;
  width: 10%;
  float: right;
  font-weight: 600;
}

nav .menu .language .border {
  border-right: 1px solid gray;
  padding-right: 5px;
}

/* princupale blocco 0 */
.blocco0 {
  padding-top: 50px;
  height: 500px;
  background-image: url("immagini/sfondoabloc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.blocco0::after {
  content: "";
  display: table;
  clear: both;
}

.blocco0 .text {
  text-align: center;
  padding-top: 80px;
  color: white;
}

.blocco0 .text h1 {
  font-size: 40pt;
}

.blocco0 .text p {
  font-size: 15pt;
  padding-top: 10px;
}

.socialstore {
  text-align: center;
  padding-top: 20px;
}

.socialstore img {
  padding-left: 20px;
}

/* blocco 1 a 2 colonne */
.blocco1 {
  margin: 100px 0;
}

.blocco1:after {
  content: "";
  display: table;
  clear: both;
}

.blocco1 .col {
  float: left;
  width: calc(98% / 2);
  background-color: #FAFAFA;
}

.blocco1 .col:first-child {
  margin-right: 2%;
}

.blocco1 .col h2 {
  text-transform: uppercase;
  font-size: 30pt;
  padding-bottom: 35px;
}

.blocco1 .col p {
  font-size: 18pt;
}

.blocco1 .col a {
  font-size: 18pt;
  text-decoration: none;
  color: #0070CB;
  padding-top: 35px;
}

.blocco1 .col a:hover {
  text-decoration: underline;
}

.blocco1 img {
  height: 500px;
  padding: 40px 0;
}

#coming {
  color: #0070CB;
}

footer {
  background-color: black;
}

.footer_up {
  border-bottom: 1px solid #696969;
  padding: 100px 0;
}

.footer_center {
  border-bottom: 1px solid #696969;
  padding: 20px 0;
}

.footer_down {
  padding-top: 20px;
  padding-bottom: 80px;
}

footer .footer_up::after {
  content: "";
  display: table;
  clear: both;
}

footer .footer_center::after {
  content: "";
  display: table;
  clear: both;
}

footer .menu .col_footer {
  float: left;
  width: calc(100% / 4);
}

footer .menu .col_footer h3 {
  color: white;
  text-transform: uppercase;
}

footer .menu .col_footer a {
  display: flex;
  color: #696969;
  padding-top: 20px;
  text-decoration: none;
}

footer .menu .footer_center .col_footer a {
  display: inline-block;
  padding-right: 30px;
}

footer .menu .footer_down .socialstore a img {
  border-radius: 10px;
}
